.meore {
  text-align: center;
  color: black;
}

.Email {
  display: flex;
}

.caler {
  color: #0066cc;
}

.caler span {
  color: gray;
}

.shuashi {
  text-align: center;
  color: black;
}
.witeli {
  color: #c30;
}
.loremi {
  color: gray;
}
